@font-face {
    font-family: italicfont;
    src: url(../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: thinfont;
    src: url(../assets/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
